<div ng-controller="HomeBuyerController">
  <div class="hide">
    <ul class="breadcrumb bg-white b-b breadcrumb-custom">
      <li><a href class="breadcrumb-font"><i class="fa fa-home"></i> 首页</a></li>
    </ul>
  </div>

  <div class="wrapper-md bg-white" >
    <div class="row">
      <div class="col-md-3 pull-left b-r padder"><label>聚赚界个人账户：</label><label class="text-info h3 m-l m-r">{{userLogin}}</label></div>
      <div class="col-md-3 pull-left b-r padder"><label>会员等级：</label><label class="text-jzj h3 m-l m-r">VIP</label><label></label></div>
      <div class="col-md-6 pull-left b-r padder"><label>账户安全等级：</label><label class="text-jzj h3 m-l m-r">5</label>
      <small class="text-muted">（邮箱绑定，手机认证，账户绑定，开通支付密码，实名认证）五级用户五星及图文展示</small></div>
    </div>   
    <div class="line line-dashed b-b"></div>        
    <div class="row">
      <div class="col-md-3 pull-left b-r padder"><label>已有赚点：</label><label class="text-jzj h3 m-l m-r">8</label><label>赚点</label></div>
      <div class="col-md-3 pull-left b-r padder"><label>申请提现：</label><label class="text-jzj h3 m-l m-r">100</label><label>元</label></div>
      <div class="pull-left text-left padder wrapper-xs"><a class="text-info p-t" href="">提现说明>></a></div>
    </div>        
    <div class="line line-dashed b-b"></div>
    <div class="row">
      <div class="col-md-3 pull-left b-r padder"><label>累计赚取：</label><label class="text-jzj h3 m-l m-r">0</label><label>赚点</label></div>
      <div class="col-md-3 pull-left b-r padder"><label>经验值：</label><label class="text-jzj h3 m-l m-r">0</label><label></label></div>
      <div class="col-md-3 pull-left padder"><label>排名：</label><label class="text-jzj h3 m-l m-r">0</label><label>位</label></div>
    </div>  
    <div class="line line-dashed b-b"></div>      
    <div class="row m-t">
      <div class="col-md-3 pull-left padder"><label class="text-danger">绑定买手账户，开始抢钱了</label><a class="text-info p-t" href=""> + 添加买号</a></div>
    </div>

    <div class="line line-dashed b-b"></div> 
    <!--trans-->
    <div class="row">
      <div class="col-md-3 pull-left b-r padder"><label>总垫付本金：</label><label class="text-jzj h3 m-l m-r">0</label><label>元</label></div>
      <div class="col-md-3 pull-left b-r padder"><label>可提现的本金：</label><label class="text-jzj h3 m-l m-r">0</label><label>元</label></div>
      <div class="pull-left text-left padder wrapper-xs"><a class="text-info p-t" href="">申请提现</a></div>
    </div>        
    <div class="line line-dashed b-b"></div>        
    <div class="row">
      <div class="col-md-3 pull-left b-r padder"><label>邀请会员共获得奖励：</label><label class="text-jzj h3 m-l m-r">0</label><label>赚点</label></div>
      <div class="col-md-3 pull-left b-r padder"><label>邀请会员完成任务奖励：</label><label class="text-jzj h3 m-l m-r">0</label><label>赚点</label></div>
      <div class="pull-left text-left padder wrapper-xs"><a class="text-info p-t" href="">查看</a></div>
    </div>        
    <div class="line line-dashed b-b"></div>
    <div class="row">
      <div class="col-md-3 pull-left b-r padder"><label>XX 今日获得奖励：</label><label class="text-jzj h3 m-l m-r">0</label><label>赚点</label></div>
      <div class="col-md-3 pull-left b-r padder"><label>本人完成任务：</label><label class="text-jzj h3 m-l m-r">0</label><label>赚点</label></div>
      <div class="pull-left text-left padder wrapper-xs"><a class="text-info p-t" href="">查看</a></div>
    </div>
    <!--网站公布-->
    <div class="m-panel m-t">
      <div class="m-panel-heading">
        <a ng-class="{'bg-jzj title-danger':postType==3}" ng-click="showPost(3)" class="m-panel-title">网站公告</a>
        <a ng-class="{'bg-jzj title-danger':postType==4}" ng-click="showPost(4)" class="m-panel-title">常见问题</a>
      </div>    
      <div class="m-panel-body">
        <ul class="padder-lg">
            <li class="text-danger post-item" ng-repeat="p in postList"><a ng-click="popPost(p)">{{p.title}}</a><span class="pull-right m-l-lg text-muted">{{p.createdAt | date : 'yyyy-MM-dd' : 'Z'}}</span></li>     
          </ul>
      </div>    
    </div>
    
    </div>
  </div>