<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/app.js"></script>
    <script src="/js/app/calendar/calendar.js"></script>
    <script src="/js/app/contact/contact.js"></script>
    <script src="/js/app/mail/mail-service.js"></script>
    <script src="/js/app/mail/mail.js"></script>
    <script src="/js/app/map/load-google-maps.js"></script>
    <script src="/js/app/map/map.js"></script>
    <script src="/js/app/map/ui-map.js"></script>
    <script src="/js/app/music/ctrl.js"></script>
    <script src="/js/app/note/note.js"></script>
    <script src="/js/app/weather/angular-skycons.js"></script>
    <script src="/js/app/weather/ctrl.js"></script>
    <script src="/js/app/weather/skycons.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/config.lazyload.js"></script>
    <script src="/js/config.router.js"></script>
    <script src="/js/controllers/bootstrap.js"></script>
    <script src="/js/controllers/chart.js"></script>
    <script src="/js/controllers/editor.js"></script>
    <script src="/js/controllers/file-upload.js"></script>
    <script src="/js/controllers/form.js"></script>
    <script src="/js/controllers/grid.js"></script>
    <script src="/js/controllers/imgcrop.js"></script>
    <script src="/js/controllers/jzj.account.js"></script>
    <script src="/js/controllers/jzj.financial.js"></script>
    <script src="/js/controllers/jzj.signin.js"></script>
    <script src="/js/controllers/jzj.signup.js"></script>
    <script src="/js/controllers/jzj.task.js"></script>
    <script src="/js/controllers/jzj.user.js"></script>
    <script src="/js/controllers/mail-service.js"></script>
    <script src="/js/controllers/mail.js"></script>
    <script src="/js/controllers/select.js"></script>
    <script src="/js/controllers/signin.js"></script>
    <script src="/js/controllers/signup.js"></script>
    <script src="/js/controllers/slider.js"></script>
    <script src="/js/controllers/tab.js"></script>
    <script src="/js/controllers/toaster.js"></script>
    <script src="/js/controllers/tree.js"></script>
    <script src="/js/controllers/vectormap.js"></script>
    <script src="/js/directives/jzj.directives.js"></script>
    <script src="/js/directives/setnganimate.js"></script>
    <script src="/js/directives/ui-butterbar.js"></script>
    <script src="/js/directives/ui-focus.js"></script>
    <script src="/js/directives/ui-fullscreen.js"></script>
    <script src="/js/directives/ui-jq.js"></script>
    <script src="/js/directives/ui-module.js"></script>
    <script src="/js/directives/ui-nav.js"></script>
    <script src="/js/directives/ui-scroll.js"></script>
    <script src="/js/directives/ui-shift.js"></script>
    <script src="/js/directives/ui-toggleclass.js"></script>
    <script src="/js/directives/ui-validate.js"></script>
    <script src="/js/filters/fromNow.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/services/jzj.services - bak.js"></script>
    <script src="/js/services/jzj.services.js"></script>
    <script src="/js/services/ui-load.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
