
<div>
  <ul class="breadcrumb bg-white b-b breadcrumb-custom">
    <li><a href="#/app/dashboard-v1" class="breadcrumb-font"><i class="fa fa-home"></i> 首页</a></li>
    <li><a href class="breadcrumb-font">资金记录</a></li>
    <li class="active breadcrumb-font">充值</li>
  </ul>
</div>
<div class="wrapper-md bg-white" ng-controller="RechargeCtrl">
	<h4 class="m-t-none m-b text-jzj">充值</h4>
	<div class="line b-b"></div> 
	<div class="form-horizontal m-t">
		<tabset class="tab-container">
          <!--充值押金-->
          <tab heading="充值押金" active="transType==3" ng-click="transType=3">
          	<form role="form" name="rechargeDepositForm" class="form-horizontal" method="post" target="_blank" action="/bill/send">
			    <input type="hidden" name="productId" value="3">
			    <input type="hidden" name="points" value="0">
			    <input type="hidden" name="token" value="{{token}}">
				<div class="m-t">
					<label class="control-label text-left">充值金额：</label>
					<!-- <div class="btn-group"><input type="number" class="form-control" name="orderAmount" ng-model="deposit.amount" ng-pattern="/^[1-9]\d{2,9}|0.d*[1-9]d*$/" required/></div> -->
					<div class="btn-group"><input type="number" class="form-control" name="orderAmount" ng-model="depositAmount" required/></div>
					<label class="control-label text-left"><span class="text-muted hide">单次最少提现100元 </span></label>
				</div>		
				<div class="m-t m-b">
					<button type="submit" class="btn btn-jzj" ng-disabled="rechargeDepositForm.$invalid" ng-click="openConfirmModal()">确认</button>
				</div>
				<div class="line b-b"></div> 
				<div class="m-t">
			        <h4 class="m-t-none font-bold">温馨提示：</h4>
			        <p class="text-muted">1. 充值押金可以使用 商品押金 运费押金 退款保证金  三部分。</p>
			        <p class="text-muted">2. 请注意您的银行卡充值限制，以免造成不便。<a class="text-info" href="#">查看如何提高充值限额</a></p>
					<p class="text-muted">3. 禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账号的使用。</p>
					<p class="text-muted">4. 如果充值金额没有及时到账。请联系客服。</p>
					<p class="text-muted">5. 关于商家<span class="text-danger font-bold">押金</span>提现，平台是按照“<span class="text-danger font-bold">原路返回</span>”的原则给商家返还押金。</p>
			     </div>
			     
		     </form>
          </tab>

          <!--充值赚点-->
          <tab heading="充值赚点" active="transType==4" ng-click="transType=4">
          	<form role="form" name="rechargePointForm" class="form-horizontal" method="post" target="_blank" action="/bill/send">
			    <input type="hidden" name="productId" value="4">
			    <input type="hidden" name="points" value="{{points}}">
			    <input type="hidden" name="orderAmount" value="{{amount}}" >
			    <input type="hidden" name="token" value="{{token}}">
				<!-- <div class="m-t hide">
					<label class="control-label text-left ">充值点数：</label>
					<div class="btn-group">
						<input type="number" class="form-control" name="orderAmount" ng-model="point.points" ng-pattern="/^[1-9]*[1-9][0-9]*$/" required/>
					</div>
					<label class="control-label text-left"></label>
				</div> -->	
				<div class="m-t">
				 	<h5 class="m-t-none">请选择赚点包</h5>
				</div>	
				<div class="m-t">					
					<div class="row text-center">
			            <div class="col-xs-3" ng-repeat="p in packages | orderBy:id:desc">
			              <div ng-class="{'bg-remind':(p.id==selectedPackage.id)}" class="panel padder-v item b point-panel" ng-click="selectPackage(p.id)">
			                <span class="text-jzj h4">{{p.name}}</span>
			                <div class="h1 text-danger font-thin h2 wrapper">{{p.amount}}元</div>
			                <span class="text-muted text-xs">{{p.remark}}</span>			
			              </div>
			            </div>			            
			          </div>
				</div>
				<div ng-show="isSelectPackage" class="wrapper-sm bg-remind m-t recharge-count">      
			      <span class="pull-left">您已选择<span class="text-danger m-l-sm m-r-sm">{{selectedPackage.name}}</span></span> <span class="pull-right">需要支付<span class="text-danger m-l-sm m-r-sm">{{selectedPackage.amount}}</span>元</span> 
			    </div>
				<div class="m-t m-b text-center">
					<button type="submit" class="btn btn-jzj btn-lg" ng-disabled="!isSelectPackage" ng-click="openConfirmModal()">确认付款</button>
				</div>
				<div class="line b-b"></div> 
				<div class="m-t">
			        <h4 class="m-t-none font-bold">温馨提示：</h4>
			        <p class="text-muted">1. 充值赚点可以使用 商品押金 运费押金 退款保证金  三部分。</p>
			        <p class="text-muted">2. 请注意您的银行卡充值限制，以免造成不便。<a class="text-info" href="#">查看如何提高充值限额</a></p>
					<p class="text-muted">3. 禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账号的使用。</p>
					<p class="text-muted">4. 如果充值金额没有及时到账。请联系客服。</p>
					<p class="text-muted">5. 关于商家<span class="text-danger font-bold">押金</span>提现，平台是按照“<span class="text-danger font-bold">原路返回</span>”的原则给商家返还押金。</p>
			     </div>
		     </form>
          </tab>          
        </tabset>		
	</div>	
	<br/><br/>
</div>
