
.input-control-xs{
    border-color: #cfdadd;
    border-radius: 2px;
    background-color: #fff;
    background-image: none;
    color: #555;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 5px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    box-shadow: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border: 1px solid #ccc;
    margin:0 10px;
}
.bg-remind{
    background-color: #faebcc;
    color: #000;
}
.bg-jzj{
    background-color: #e67814;
    color: #fff;
}
.text-jzj{
    color: #e67814;
}
.btn-jzj{
    background-color: #e67814;
    color: #fff;
}
.l-h-lg{
    line-height: 75px;
}
.breadcrumb-custom{
    margin-bottom: 0;
    border-radius: 0;
    padding: 10px 20px;
}
.breadcrumb-font{
    color: #f05050 !important;
    /*font-weight: bold;*/
}
.ul-t{
    list-style: outside none none;
    margin: 0;
    padding-left: 0;
}
.ul-t li{
    float: left;
    padding: 0 20px 0 0;
}
.b-default {
  border-color: #f6f8f8;
}
.m-panel{
    background-color: #fff;
    border: 1px solid #f6f8f8;
    border-radius: 2px;
}
.m-panel-heading{    
    height: 35px;
    background: #f6f8f8;
}
.m-panel .m-panel-title{
    float: left;
    padding: 6px;
}
/*.m-panel-heading a:hover{
    color: #fff;
    background: #e67814;
}*/
.m-panel .title-danger{
    color: #fff;
}
.m-panel .title-default{
    color: #000;
}
.m-panel-body{
    padding: 10px;
}
.filter-control{
    width: 100px;
}
.status-filter a:hover
{
    color:#428bca;
}
.status-filter a.filter-active:hover 
{
    color:#fff;   
}
.point-panel
{
    cursor: pointer;
}
.point-panel:hover
{
    background: #faebcc;
}
.recharge-count
{
    height: 40px;
}
.userbank-screenshot
{
    max-width: 292px;
    max-height: 200px;
    padding: 0 0 20px 0;
    cursor: pointer;
}
.img-view
{
    max-width: 865px;
    max-height: 660px;
}
.buyer-ww-shot
{
    cursor: pointer;
}
.product-shot
{
    max-width: 200px;
    max-height: 200px;
    cursor: pointer;
}
.post-item a:hover
{
    text-decoration: underline;
    color:#23b7e5;
}
.right-slide-box
{
    position: fixed;
    right: 0px;
    top: 0;
    transition: right 0.2s ease 0s;
    width: 540px;
    z-index: 1050;
}
.platform-list{    
    
}
.platform-list li{
    padding: 5px 15px;
    border-bottom:1px solid #ccc;
}
.platform-list label{
    width: 160px;
    cursor: pointer;
}
.platform-bg{
    background-image:url("/img/platform.png"); 
    background-repeat: no-repeat;
}
.platform1-p{
    background-position: 25px -10px;
}
.platform2-p{
    background-position: 25px -55px;
}
.platform3-p{
    background-position: 25px -143px;
}
.platform4-p{
    background-position: 25px -275px;
}
.platform5-p{
    background-position: 25px -231px;
}
.platform6-p{
    background-position: 25px -100px;
}
.platform7-p{
    background-position: 25px -347px;
}
.platform-list2 label{
    width: 160px;
    cursor: pointer;
}
.platform1-p2{
    background-position: 25px -2px;
}
.platform2-p2{
    background-position: 25px -48px;
}
.platform3-p2{
    background-position: 25px -136px;
}
.platform4-p2{
    background-position: 25px -268px;
}
.platform5-p2{
    background-position: 25px -223px;
}
.platform6-p2{
    background-position: 25px -92px;
}
.platform7-p2{
    background-position: 25px -347px;
}
.trans-record{
    padding-top: 4px;
}
.m-t-b-xs{
    margin: 5px 0;
}
.m-t-xs{
    margin: 5px 0 0 0;
}
.m-b-xs{
    margin: 0 0 5px 0;   
}