
<div class="modal-body">
	<div class="m-t">
		<h4>您是否已经充值成功？</h4>
		<a ng-if="userTypeId==1" class="text-info m-t" href="#/app/dashboard-v1" ng-click="close()">点击此查看您的账号余额</a>
		<a ng-if="userTypeId==2" class="text-info m-t" href="#/app/dashboard-v2" ng-click="close()">点击此查看您的账号余额</a>
	</div>	
	<div class="line b-b"></div> 
	<div class="m-t">
		<p class="h5 text-danger">如果充值失败，请重试！</p>
	</div>
	<br/>
	<div class="m-t">
		<button class="btn btn-default" ng-click="close()">关闭</button>
	</div>
</div>
